:root
{
    --dark-blue: #0E131F;
    --violet: #38405F;
    --pink: #59546C;
}

body
{
    margin: 0;
}

a
{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited 
{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.container
{
    display: flex;
}

.menu
{
    display: block;
    width: 10vw;
    height: auto;
    background-color: var(--dark-blue);
    border-right: 5px solid var(--violet);
    color: #fff;
}

.menu a
{
    margin: 20px;
}

.wrapper
{
    display: flex;
    flex-wrap: wrap;
}

.content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #0E131F;
    align-items: center;
    padding: 50px;
}

.code
{
    border: 5px solid black;
    font-size: 18px;
    background-color: #b6b6b6;
    width: 90%;
}

.code a
{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.editor
{
    background-color: #828282;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}